body{
    background-color: rgb(153, 209, 202);
    overflow: hidden;
}

/*Стили для карты мира*/

#map{
    text-align: center;
}
/*Конец стилей карты мира*/


/*Кнопка поиска города*/

* {box-sizing: border-box;}
form {
  background-color: rgb(201, 200, 190);
  border: solid 1.5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  position: absolute;
  width: 300px;
  height: 52px;
  left: 10%;
}
input{
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  color: rgb(14, 12, 12);
  font-size: 16px;
  display: flex;
}
button {
  cursor: pointer;
  border: solid 1px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(100, 250, 62);
  width: 50px;
  height: 50px;  
  display: flex;
  position: absolute;
  left: 84.5%;
}
#galochka{
  content: "✔";
  font-size: 30px; 
  margin-left: 5px;
}
/*Конец кнопки поиска города*/

#botOtvet{
  text-align: center;
  background-color: rgb(216, 214, 203);
  border: solid 1.5px rgb(71, 70, 70);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 20px;
  right: 20%;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 260px;
  top: 500px;

}
#out{
  color: black;
  font-size: 40px;
  text-align: center;
}
#robot{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 90px;
  top: 500px;
}
@media (max-width: 450px) {
  #robot{
    right: 0;
    top: 350px;
  }
  #botOtvet{
    right: 160px;
    top: 350px;
  }
  #global-map{
    width: 100%;
  }
}
@media (max-width: 400px) {
  #robot{
    right: 0;
    top: 360px;
  }
  #botOtvet{
    right: 145px;
    top: 350px;
  }
  #global-map{
    width: 100%;
  }
  form{
    top: 200px;
  }
}
@media (max-width: 320px) {
  #robot{
    right: 0;
    top: 375px;
  }
  #botOtvet{
    right: 110px;
    top: 350px;
  }
  #map{
    width: 100%;
  }
  form {
    top: 200px;
  }
}